{% extends 'base.html.twig' %}

{% block title %}Mes top vidéos!
{% endblock %}

{% block body %}
{% if app.user %}
{% if app.user.isVerified %} 
<div class"class" align="center">
<h1>Bienvenu dans  Vidéo center</h1>

<p>Sur ce site vous trouverez plusieurs vidéos intéressantes. 
Pour certaines vidéos, il faudra être enregistré pour les voirs.</p>
<a class="btn btn-outline-secondary" href="{{path('app_account') }}" role="button">Mon profil</a>
<a class="btn btn-outline-primary" href="{{path('app_logout')}}" role="button">Se déconnecter</a>
</div>

<br>
{% endif %}
{%  else %}
<div class"class" align="center">
<h1>Bienvenu dans  Vidéo center</h1>

<p>Sur ce site vous trouverez plusieurs vidéos intéressantes. 
Pour certaines vidéos, il faudra être enregistré pour les voirs.</p>
<a class="btn btn-outline-secondary" href="{{path('app_register') }}" role="button">Créer un compte</a>
<a class="btn btn-outline-primary" href="{{path('app_login')}}" role="button">Se connecter</a>
</div>
 
 {% endif %}
 <br>
 
 {% include "components/_search_data.html.twig" with {
        form: form
    } only %}

        <div class="row row-cols-1 row-cols-md-2 g-4"  align ="center">
        {% for video in pagination %}


               <div class="col">
                <div class="card shadow p-3 mb-5 bg-light rounded">
                <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                    </div>
                     <iframe width="400" height="250" src={{video.videoLink}}></iframe>
                    <div class="card-body">
                        <h5 class="card-description">{{ video.description }}</h5>
                        <div class="col md-3">
                        <p> Posté {{ video.createdAt|ago }} par {{ video.user.firstname }} {{video.user.lastname }}</p> 
                        </div>
                         <a class="btn btn-outline-secondary" href="{{ path('app_video_show', {'id': video.id}) }}">Détail</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_video_edit', {'id': video.id}) }}">Editer</a>
                    </div>
                </div>

            </div>

              {% endfor %}
    </div>


    <div class="mb-5 mt-5" id="addvideo">
          <a href="{{ path('app_video_create') }} " style="text-decoration:none">Poster une nouvelle Vidéo</a>
    </div>
     {{ knp_pagination_render(pagination, null, {}, {
   'align': 'center',
   'size': 'large',
   'rounded': true,
    }) }}
{% endblock %}